
{{breadcrumb}}

<div class="section">
				<div class="container">
					<div class="row items">
						<header class="col-12">
							<div class="section-heading heading-center">
								<div class="section-subheading">Areas what we serv</div>
								<h1>Our Services</h1>
							</div>
						</header>
						<div class="col-12 item">
							<div class="row items">
								{{collection:our_service}}
								<div class="col-md-6 col-xl-4 col-12 item">
									<a href="{{url}}" class="iitem item-style iitem-hover">
										<div class="iitem-icon">
											<i class="material-icons material-icons-outlined md-48">{{icon}}</i>
										</div>
										<div class="iitem-icon-bg">
											<i class="material-icons material-icons-outlined">{{icon}}</i>
										</div>
										<h2 class="iitem-heading item-heading-large">{{title}}</h2>
										<div class="iitem-desc">{{short_description}}</div>
									</a>
								</div>
								{{/collection:our_service}}
							</div>
						</div>
					</div>
				</div>
			</div>

{{block_types}}
{{template}}
{{/block_types}}