
{{breadcrumb}}

<article class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-heading heading-center section-heading-animate">
								<h1>{{title}}</h1>
							</div>
							<div class="content">
								<div class="item-bordered item-border-radius">
									<img src="{{image}}" alt="{{title}}">
								</div>
								{{content}}
							</div>
						</div>
					</div>
				</div>
			</article>

{{block_types}}
{{template}}
{{/block_types}}